#myBlock {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999;
}

.testimonial-carousel {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: scroll;
    scroll-behavior: smooth;
}

.testimonial {
    flex: 0 0 auto;
    width: 100%;
    margin-right: 20px;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    text-align: center;

}

.testimonial-text {
    margin-bottom: 10px;
}

.testimonial-name {
    font-weight: bold;
    font-size: 22px;
}